# Session files #
#################
sess_*

# Conf files #
##############
*.conf

# Lock files #
##############
*.lock

# Vim lock files #
##################

*.swp

# DHCP file #
#############
.dhcp_files/regions/.update_notify
#.dhcp_files/regions/.placeholder
