#tabela_danych_wejsciowych{
  font-weight: normal;
  font-family: Verdana;
  font-size: small;
  width: 1010px;
}
#tabela_danych_wejsciowych tr {
  background: #f2f2f2;
}
#formularz {
  float: left;
}
.ip_form {
  margin: 0px;
}
.maska_form {
  width: 20px;
  margin-right: 10px;
}
.ip_form select {
  width: 130px;
}
.right
{
  width: 130px;
  float: right;
  margin: 20px 10px 10px 10px;
}
.right h2 {
  margin: 0;
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.right ul {
margin: 0;
padding: 10px 0 15px 10px;
list-style-type: none;
}
.right ul li a {
color: #336699;
text-decoration: none;
font-size: 12px;
font-weight: 600;
}
.right ul li a:hover {
color: #111;
}
#footer {
text-align: center;
font-size: 11px;
padding: 10px 0;
}
