html, body {
  background-color: #fff;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

#wrap{
margin: 20px auto;
width: 1200px;
}
#header {
height: 140px;
background: #fff url(images/header2.png) no-repeat;
}
#wslogo {
width: 1150px;
height: 80px;
}
#header h1 { 
font-size: 30px;
letter-spacing: -1px;
padding: 35px 0 0 20px;
color: #fff;
}
#header a { 
color: #fff;
text-decoration: none;
font-weight: bold;
font-family: Verdana, monospace;
font-size: 12px;
text-decoration: none;
letter-spacing: -1px;
margin: 3px;
}
#header a:hover {
color: #eee;
}
#header h2 {
font-size: 22px;
color: #eee;
padding: 5px 0 0 20px;
letter-spacing: -1px;
font-weight: 100;
}
#top {
background: #fff url(images/top.jpg) no-repeat;
padding: 10px 0;
}
#naglowek{
	background-color: #888;
	height: 50px;
	width: 100%;
}

#stopka {
	clear: both;
	height: 50px;
	width: 100%;
	background-color: #888;
}
#gora {
background: #fff url(images/top.jpg) no-repeat;
padding: 10px 0;
}

#tresc {
float: left;
width: 1160px;
background: #fff url(images/middle.jpg) repeat-y;
padding: 0 20px;
}

#dol {
clear:both;
background: #fff url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

